{% extends "base.html" %}
{% load static %}


 
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

 <div class="search">
    <div class="logo">
       <!-- <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" /> -->
       <h1>OriginSearch</h1>
    </div>
    <form method="POST" action="search">
       {% csrf_token %}
       <input class="search-bar" type="text" name="search" autofocus x-webkit-speech/>
       <div class="search-nav">
          <div class="search-button">
             <a href="#"><button type="submit">Search</button></a>
          </div>
    </form>
    </div>
    </div>
 </div>

{% endblock content %}